{% load cms_tags sekizai_tags menu_tags i18n %}
{% load menu_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

<meta charset="utf-8" />
<title>holon.se - {% page_attribute "page_title" %}</title>
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
<link media="screen" charset="utf-8" rel="stylesheet" href="{{ STATIC_URL }}css/base.css" />
<link media="screen" charset="utf-8" rel="stylesheet" href="{{ STATIC_URL }}css/skeleton.css" />
<link media="screen" charset="utf-8" rel="stylesheet" href="{{ STATIC_URL }}css/layout.css" />
<link media="screen" charset="utf-8" rel="stylesheet" href="{{ STATIC_URL }}css/child.css" />
<link href="{{ STATIC_URL }}css/nivo-slider.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/animate.min.css" type="text/css" media="screen" charset="utf-8" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
<!--[if (IE 6)|(IE 7)]>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/ie.css" type="text/css" media="screen" />
<![endif]-->
<!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]--><script type="text/javascript" language="javascript" src="{{ STATIC_URL }}js/jquery-1-8-2.js"></script><script type="text/javascript" src="{{ STATIC_URL }}js/default.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.carousel.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.color.animation.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.nivo.slider.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.prettyPhoto.js" charset="utf-8"></script>

{% render_block "css" %}
</head>

<body>
    {% cms_toolbar %}
    <div class="page-wrapper">
       <div class="slug-pattern slider-expand"><div class="overlay"><div class="slug-cut"></div></div></div>
        <div class="header">
            <div class="nav">
                <div class="container">
                    <!-- Standard Nav (x >= 768px) -->
                    <div class="standard">
                        <div class="five column alpha">
                            <div class="logo">
                                <a href="/"><h1>Holon</h1>
                            </div>
                        </div>

                         <div class="fourteen column omega tabwrapper" >
                            <div class="eleven column">
                                <div class="menu-wrapper">
                                    <ul class="tabs menu">
                                    <!-- CMS Menu -->
                                    {% show_menu 0 100 100 100 %}
                                    </ul>
                                </div>
                            </div>
                            <!-- Language -->
                            <div class="three column language">
                                {% get_current_language as current_language %}
                                <form>
                                    <select class="navagation" id="lang_select" onChange="window.location.href=this.value">
                                    {% for lang in current_page.get_languages %}
                                        {% spaceless %}
                                        {% get_language_info for lang as l %}
                                        <option value="{% page_language_url lang %}" {% ifequal current_language lang %}selected="selected"{% endifequal %}>{% language lang %}{{ l.name_local|capfirst }}{% endlanguage %}</option>
                                        {% endspaceless %}
                                    {% endfor %}
                                    </select>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Standard Nav Ends, Start of Mini -->
                    
                    <div class="mini">
                        <div class="twelve column alpha omega mini">
                            <div class="logo">
                                <a href="/"><h1>Holon</h1></a><!-- Small Logo -->
                            </div>
                        </div>
                        
                        <div class="thirteen column alpha omega mini">
                            <span class="eight column navagation-wrapper">
                                <select class="navagation">
                                    <option value="" selected="selected">Site Navagation</option>
                                </select>
                            </span>
                            <span class="four column language">
                                {% get_current_language as current_language %}
                                <form>
                                    <select id="lang_select" onChange="window.location.href=this.value">
                                    {% for lang in current_page.get_languages %}
                                        {% spaceless %}
                                        {% get_language_info for lang as l %}
                                        <option value="{% page_language_url lang %}" {% ifequal current_language lang %}selected="selected"{% endifequal %}>{% language lang %}{{ l.name_local|capfirst }}{% endlanguage %}</option>
                                        {% endspaceless %}
                                    {% endfor %}
                                    </select>
                                </form>
                            </span>
                        </div>
                        <!-- Language -->

                    </div>
                    <!-- Start of Mini Ends -->
                </div> 
                
            </div>
                
            <div class="shadow"></div>
            <div class="container">
                <div class="page-title">
                    <div class="rg"></div>
                    <h1>{% page_attribute "page_title" %}</h1>
                </div>
            </div>
        </div>
        
        <div class="body">
            <div class="body-round"></div>
            <div class="body-wrapper">
                <div class="content">
                        {% placeholder top_content %} 
                        {% block base_content %}{% endblock %}
                        {% placeholder botten_content %} 
                </div>

                <div class="side-shadows"></div>

                <div class="callout-hr"></div>                        
                <div class="container">
                    <div class="clear"></div>
                    <div class="sixteen columns">
                        <span class="hr remove-bottom"></span>
                        <blockquote class="standard bottom">
                            "Making the simple complicated is commonplace; making the complicated simple, awesomely simple, that's creativity" <br />- Charles Mingus
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer style-2">
            <div class="background"><div class="stitch"></div></div>
            <div class="foot-nav-bg"></div>
            <div class="content">
                <div class="patch"></div>
                <div class="blur"></div>
                <div class="pattern">
                    <div class="container">
                        <div class="stitch"></div>
                        <div class="sixteen columns">
                            {% placeholder footer inherit %} 
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="sixteen columns alpha omega">
                        <div class="foot-nav-bg"></div>
                        <div class="foot-nav">
                            <div class="copy">
                                Copyright © 2013
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
    <script type="text/javascript">
    <!--
         $(window).load(function(){
            $(".nivo.hide").fadeIn(1000);
            // Setup Slider
            $('.nivo').nivoSlider({
                effect: 'random', // Specify sets like: 'fold,fade,sliceDown'
                slices: 15, // For slice animations
                boxCols: 8, // For box animations
                boxRows: 4, // For box animations
                animSpeed: 500, // Slide transition speed
                pauseTime: 6000, // How long each slide will show
                startSlide: 0, // Set starting Slide (0 index)
                directionNav: true, // Next & Prev navigation
                controlNav: false, // 1,2,3... navigation
                controlNavThumbs: false, // Use thumbnails for Control Nav
                pauseOnHover: true, // Stop animation while hovering
                manualAdvance: false, // Force manual transitions
                prevText: 'Prev', // Prev directionNav text
                nextText: 'Next', // Next directionNav text
                randomStart: false, // Start on a random slide
                beforeChange: function(){}, // Triggers before a slide transition
                afterChange: function(){}, // Triggers after a slide transition
                slideshowEnd: function(){}, // Triggers after all slides have been shown
                lastSlide: function(){}, // Triggers when last slide is shown
                afterLoad: function(){} // Triggers when slider has loaded
            });
            $("a[class^='prettyPhoto']").prettyPhoto({social_tools: '' });
        });
        $(document).ready(function() {
            $('.slide.testimonials').contentSlide({'nav': false});
        });
    // -->
    </script>
    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
    </div>
    {% render_block "js" %}
</body>

</html>